<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="brand">
      <h4>iTunes Top 100</h4>
    </div>
    <div class="d-flex align-items-center">
      <form class="w-100 me-3" role="search">
        <input type="search" class="form-control" [formControl]="name" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </div>
</header>
<div class="container-fluid">
  <app-list [albumName]="name"></app-list>
</div>


<router-outlet></router-outlet>
