<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-flex justify-content-center gap-3 row">
    <div class="brand col">
      <h4 class="brand-text"><img class="apple"
          src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg"> iTunes Top
        100</h4>
    </div>
    <div class="col">
      <div class="w-100 me-3" role="search">
        <input type="search" class="form-control" [formControl]="name" placeholder="Search..." aria-label="Search">
      </div>
    </div>
    <div class="col">
      <button class="btn btn-outline-danger me-2" (click)="openFavourites(list.cachedList)">
        <span><i class="bi bi-heart-fill"></i> Favourites</span>
      </button>
    </div>
    
  </div>
</header>
<div class="container-fluid">
  <app-list #list [albumName]="name"></app-list>
</div>