<div class="row gap-3 justify-content-center">

  <div *ngIf="!albumsList" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngFor="let item of albumsList;trackBy: trackByMethod" class="col d-flex justify-content-center">
    <ng-template #popTitle>{{item["im:name"].label}}</ng-template>
    <ng-template #popContent>
      <p><b><i>Artist:</i></b> {{item['im:artist'].label}}</p>
      <p><b><i>Genre:</i></b> {{item.category.attributes.label}}</p>
      <p><b><i>Release Date:</i></b> {{item['im:releaseDate'].attributes.label}}</p>
      <p><b><i>Label:</i></b> {{item.rights.label}}</p>
      <div class="row">
        <div class="col">
          <a class="btn btn-sm btn-info" [href]="item.link.attributes.href"> <i class="bi bi-play-circle"></i> Play
          </a>
        </div>
        <div class="col-auto">
          <button [title]="item.liked ? 'Remove from favourites' : 'Add to favourites' "
            (click)="addRemoveToFavourites(item.id.attributes['im:id'])" class="btn btn-sm "><i
              [ngStyle]="{'color': item.liked ? 'red' : 'black' }" class="bi bi-heart-fill"></i></button>
        </div>
      </div>
    </ng-template>

    <button type="button" class="btn btn-outline-secondary album" [ngbPopover]="popContent" [popoverTitle]="popTitle">
      <p class="text-start">#{{cachedList.indexOf(item)+1}}</p>
      <img [src]="item['im:image'][2].label">
    </button>
  </div>

</div>